<header>
</header>
<div class="tasksBackground">
    <h1 class=tasksTitle>
        Tasks
    </h1>
    <div class="tasksBox">
        <button type="button" class="btn btn-default btn-sm" ng-click="">
            Add Item
        </button>
        <!-- ng-repeat tasks list -->
        <uib-accordion close-others="oneAtATime">
           <!--  <uib-accordion-group heading="Test">
                <p>
                    On click, the tasks will open up here
                </p>
                <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">
                    Add Item
                </button>
                <div ng-repeat="item in items">
                    {{item}}
                </div>
            </uib-accordion-group> -->
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group heading="{{group}}" ng-repeat="group in groups">
                    <li>{{radius}}</li>

                </uib-accordion-group>
            </div>
            <div ng-click="addTask=!addTask">
                <span id="addTask" class="glyphicon glyphicon-plus">
                    {{post.comments.length}}
                    <ng-pluralize count="post.comments.length"
                        when="{'0': 'No comments.','1': 'Comment','2': 'Comments','other': 'Comments'}">
                    </ng-pluralize>
                </div>
                <section id="addTask" ng-show="addTask">
                    <form name="addtaskForm">
                        <label for="addTask">
                        </label>
                        <div ng-repeat="comment in post.comments" >
                            {{comment}}
                        </div>
                        <label for="taskName">Task Name</label>
                        <input type="text" ng-model="groups.taskName"></input>
                        <textarea ng-model="post.newcomment" cols="60">
                        </textarea>
                        <button type="submit" class="btn btn-sm btn-default" ng-click="submitTask($index)">
                            Submit Task
                        </button>
                    </form>
                </section>
            </div>
