<header>
  <h1>Didgeridone</h1>
</header>
<div class="tasksBackground">
  <h1 class=tasksTitle>
    Tasks
  </h1>
  <input placeholder="search" ng-model="search.text" />
  <div class="tasksBox">
    <uib-accordion close-others="oneAtATime">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 44.238 44.238" style="enable-background:new 0 0 44.238 44.238;" xml:space="preserve" ng-click="toggleAdd()">
        <g>
        	<g>
        		<path d="M22.119,44.237C9.922,44.237,0,34.315,0,22.12C0,9.924,9.922,0.001,22.119,0.001S44.238,9.923,44.238,22.12    S34.314,44.237,22.119,44.237z M22.119,1.501C10.75,1.501,1.5,10.751,1.5,22.12s9.25,20.619,20.619,20.619    s20.619-9.25,20.619-20.619S33.488,1.501,22.119,1.501z" fill="#000000"/>
        		<g>
        			<path d="M31.434,22.869H12.805c-0.414,0-0.75-0.336-0.75-0.75s0.336-0.75,0.75-0.75h18.628c0.414,0,0.75,0.336,0.75,0.75     S31.848,22.869,31.434,22.869z" fill="#000000"/>
        		</g>
        		<g>
        			<path d="M22.119,32.183c-0.414,0-0.75-0.336-0.75-0.75V12.806c0-0.414,0.336-0.75,0.75-0.75s0.75,0.336,0.75,0.75v18.626     C22.869,31.847,22.533,32.183,22.119,32.183z" fill="#000000"/>
        		</g>
        	</g>
        </g>
      </svg>
    <section id="addTask" ng-show="addBoolean" class="addtaskBox" ng-class="{makingTask: addBoolean}">
      <form name="addtaskForm" ng-submit="postTask()">
        <label for="taskName">Task Name</label>
        <input type="text" ng-model="taskObject.name" name="taskName"></input><br />
        <label>Location<input type="search" ng-model="locationInfo" ng-blur="locationTest()"/></label>
        <p>
        {{locationInfo}}
        </p>
        <label><input type="checkbox" ng-click="getLocation()">Use Current Location</label><br />

        <label for="enterTag">On Entry (blank for On Exit)</label><input type="checkbox" ng-model="taskObject.enter" name="enterTag" ng-value="true" /><br />
        <label>Distance<radiogroup>
          <label>1<input type="radio" selected name="distance" value="1" ng-model="taskObject.radius"/></label>
          <label>5<input type="radio" name="distance" value="5" ng-model="taskObject.radius"/></label>
          <label>10<input type="radio" name="distance" value="10" ng-model="taskObject.radius"/></label>
          <label>15<input type="radio" name="distance"value="15" ng-model="taskObject.radius"/></label>
        </radiogroup></label>
        <button type="submit" class="">
          Submit Task
        </button>
      </form>
    </section>

<!-- Tasks Div  -->
      <div class="taskName" ng-repeat="datem in data | filter:search.text" class="searchBox">
        <input type="checkbox" ng-change="updateTask(datem)" ng-selected="datem.done" ng-model="datem.done" ng-value="true"/>
        <h3 contenteditable="true" ng-model="datem.name" ng-blur="updateTask(datem)" ng-bind-html="datem.name" ></h3>
        <img class="trashCan" src="../styles/assets/images/deleteButton.png" ng-click="deleteTask(datem)">
        <img class="editButton" ng-click="editBoolean = !editBoolean" src="../styles/assets/images/edit.svg">
        <button ng-click="showMap()">Map</button>
        <div ng-show="editBoolean" class="editBox">
          <form>
            <select ng-change="updateTask(datem)" ng-model="datem.enter">
              <option ng-value="false">
                Exit
              </option>
              <option ng-value="true" ng-selected="datem.enter">
                Enter
              </option>
            </select>


            <button ng-click="updateLocationBool()">Show Location</button>
            <div ng-show="taskUpdateLocationBool">
              <label>Location<input type="search" ng-model="datem.locationInfo" ng-blur="locationTestUpdate(datem)"/></label>
              <p>
              {{locationInfo}}
              </p>
              <label><input type="checkbox" ng-click="getLocationUpdate(datem)">Use Current Location</label><br />
            </div>




            <radiogroup>
              <label>1<input type="radio" ng-change="updateTask(datem)" name="distance" ng-value="1" ng-model="datem.radius"/></label>
              <label>5<input type="radio" ng-change="updateTask(datem)" name="distance" ng-value="5" ng-model="datem.radius"/></label>
              <label>10<input type="radio" ng-change="updateTask(datem)" name="distance" ng-value="10" ng-model="datem.radius"/></label>
              <label>15<input type="radio" ng-change="updateTask(datem)" name="distance" ng-value="15" ng-model="datem.radius"/></label></radiogroup>

            <button class="" ng-mousedown="updateTask(datem)">Update Task</button>
          </form>
        </div>
        <div ng-show="showBoolean">

        </div>
    </div>
  </div>
</div>
