<header>
	<button type="button" class="btn btn default signIn">Login</button>
</header>
<div class="homeBackground">
<!-- <div class="centerAction"> -->
<h1>Didgeridone</h1>
<div>
	<p>
		Didgeridone is an application that helps you get things done.
	</p>
	<p>
		The app allows you to tag each to-do item with a location and a distance.
		When you get close enough to your location, we notify your phone with your to-do item!
	</p>
	<button type="button" class="actionButton">Get Started!</button>
</div>
<!-- </div> -->
</div>
