<header>
	<h1>Didgeridone</h1>
	<ul>
		<li><a href="#/createAccount">Create Free Account</a></li>
		<li><a href="#/login">Log In</a></li>
	</ul>
</header>
<div class="homeBackground">




<div class="heroImg">
	<img src="../styles/assets/images/girlDog.jpeg">
	<h3> Location based reminders wherever you are, whenever.</h3>
</div>
<div class="actionCall">
	<div class="actionButton"><a href="#/createAccount">Get Started</a></div>
	<h3>
		Didgeridone is an application that helps you get things done, when you are in the right place at the right time.
	</h3>

	<p class="chunk">
		The app allows you to tag each to-do item with a location and a distance.
		When you get close enough to your location, we notify your phone with your to-do item!
	</p>
</div>
<!-- </div> -->
</div>
