<header>
	<h1>Didgeridone</h1>
	<ul>
		<li><a href="#/createAccount">Create Free Account</a></li>
		<li><a href="#/login">Log In</a></li>
	</ul>
</header>
<div class="homeBackground">
<!-- <div class="centerAction"> -->
<div class="heroImg">
	<img src="../styles/assets/images/girlDog.jpeg">
	<h3> Location based reminders wherever you are, whenever.</h3>
</div>
<div>
	<a href="#/createAccount"><h3>Get Started!</h3></a>
	<p>
		Didgeridone is an application that helps you get things done.
	</p>
	<p>
		The app allows you to tag each to-do item with a location and a distance.
		When you get close enough to your location, we notify your phone with your to-do item!
	</p>
</div>
<!-- </div> -->
</div>
