<header>
  <h1><a href="#/">Didgeridone</a></h1>
</header>
<div class="loginPage">
  <h2>Please Login Below</h2>
  <form ng-submit="login(loginInfo)" class="authForm">
    <div class="input">
      <label for="email">Email Address</label>
      <input ng-model="loginInfo.email" type="email" id="email" name="email" autocorrect="off" autocapitalize="off" maxlength="64" placeholder="email" required>
    </div>
    <div class="input">
      <label for="password">Password</label>
      <input ng-model="loginInfo.password" type="password" id="password" name="password" maxlength="12" autocorrect="off" autocapitalize="off" placeholder="password" required>
    </div>
    <input type="submit" id="login" name="login" value="Login">
  </form>
  <img src="./styles/assets/images/books.jpeg">
</div>
