@import url(https://fonts.googleapis.com/css?family=Raleway);
$titleColor:black;
$bodyBackground: white;
$headerBackground: white;
//Home View
$font: 'Raleway', sans-serif;

body {
  font-family: 'Lato', sans-serif;;
}

a, a:visited {
	text-decoration: none;
}
h1 {
	color: $titleColor;
	margin: auto;
	font-family: $font;
}

@mixin backgroundColors {
	background-color: $bodyBackground;
	width: 100%;
	height: 1000px;
	text-align: center;
}

//Home View Header
header {
	background-color: $headerBackground;
	height: 100px;
	width: 100%;
	ul {
		margin: 0;
		padding: 0;
		text-align: right;
		list-style-type: none;
		li {
			display: inline;
			padding: 15px;
			font-weight: 800;
			letter-spacing: 2px;
		}
	}
	.signIn {
		background-color: $bodyBackground;
		float: right;
		margin: 20px;
		border-radius: 30px;
		color: black;
		font-weight: bolder;
		font-size: 20px;
	}
	h1 {
		text-align: left;
		padding: 20px;
		letter-spacing: 3px;
	}
}

.heroImg {
	position: relative;
	img {
		width: 100vw;
		height: 80vh;
	}

h3 {
	font-size: 30px;
	color: white;
	position: absolute;
	left: 20px;
	top: 525px;
	letter-spacing: 1px;
	font-weight: 700;
	text-shadow: 2px 2px grey;
}
}


.homeBackground {@include
	backgroundColors;
	.centerAction{
		width: 100%;
		height: 500px;
		border: 2px solid $headerBackground;
		text-align: center;
	}
	.actionButton {
		height: 100px;
		width: 200px;
		border-radius: 10px;
		background-color: grey;
		margin-top: 100px;
		font-weight: bolder;
		font-size: 24px;
	}
}

//Tasks


.tasksBackground { @include
	backgroundColors;

}

svg {
	margin: 15px;
}

.addtaskBox {
	margin-bottom: 30px;
}

.taskName {
	margin: 20px;
}

.tasksBox {
	width: 60%;
	height: 100%;
	margin: auto;
		font-family: $font;
	h3:focus {
		outline: none;
	}
}

.editBox {
	margin: 25px;
}

.trashCan {
	height: 20px;
	width: 20px;
	cursor: pointer;
	margin-left: 20px;
}
